# ROS 2
Fast_Segmentation_ws/build/
Fast_Segmentation_ws/install/
Fast_Segmentation_ws/log/
simulation_ws/build/
simulation_ws/install/
simulation_ws/log/
/log/

# Large datasets / rosbag
data/
*.db3
*.mcap
*.pcap
*.bag

# Python
__pycache__/
*.pyc

# VS Code
.vscode/


# Temporary
*.swp
*.tmp
*~
