<?xml version="1.0"?>
<model>
  <name>FSAC Yellow High Cone</name>
  <version>1.0.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>racecar_sim</name></author>
  <description>Chinese Formula Student yellow high cone, 35 x 35 x 70 cm with two white reflective bands.</description>
</model>
